body{
    background-color: black;
    height: 90vh;
}
.container{
    color: antiquewhite;
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.btn{
    padding: 10px 20px;
    background-color: beige;
    border-radius: 10px;
    
    
}
.btn:hover{
        background-color: #5071f2;
        cursor: pointer;

}
.btn.operator {
    background-color: #cccccc;
    color: rgb(0, 0, 0);
}
.btn.operator:hover{
     background-color: #b11818;
        cursor: pointer;
}